html,body{
	padding: 0;
	margin: 0;
    
}
html, body {
    margin: 0;
    height: 100%;
    font-family: Impact;
}

.navbar {
	position: absolute;
	top: 0;
	width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
}

ul.navbar li {
    font-size:1.6em;
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.3em;
    text-decoration: none;
}


.sidebar {
    position: absolute;
    left: 0;
    top:67px;

    width: 14%;
    height: 1390px;
    background: black;
    margin:0;
    padding:0;
}
ul.sidebar li {

}

ul.sidebar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    
    font-size: 1.3em;
    text-decoration: none;
    
}

.container{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 5%;
}
.button{
    text-decoration:  none;
    border-radius: 5px;
    background-color: lightgray;
    font-size:1em;
    padding: 2%;
}
.jumbotron{
    background: lightgray;
    border-radius: 5px;
    padding: 2%;
}

.jumbotron h1{
    font-size: 1.8em;
}