<!DOCTYPE html>
<html>
  <head>

      <title>Flask App</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename= 'stylesheet/main.css')}}" >
      <script  src="{{url_for('static',filename='canvas/analytics.js')}}"></script>
     <script src="{{url_for('static',filename='canvas/Chart.bundle.js')}}""></script>
    <script src="{{url_for('static',filename='canvas/utils.js')}}"></script>
  </head>
  <body>
    <ul class="navbar">
      <li>
        <a href="/">Class Planner</a>
      </li>
    </ul>

    <ul  class="sidebar" >
      {% for item in items %}
        <li><a href="{{ item.link }}">{{ item.name}}</a></li>
      {% endfor %}
    </ul>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
  </body>
</html>
