{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1>{{student}} ID#2932200</h1>
    <hr>
    <h4>Overview</h4>
    <ul>
        <li>Below average in Division</li>
        <li>Proficient in Addition</li>
        <li>Average in Multiplication</li>
        <li>Above average in Subtraction</li>
    </ul>
</div>

<p><center>{{student}}'s Progression</p></center>
<canvas id="Progression" style="width:5%"></canvas>
    <script>
        new Chart(document.getElementById("Progression"),
            {"type":"line","data":
            {"labels":["January","February","March","April","May","June","July","August","September","October","November","December"], //Months 
            "datasets":[{"label":"{{student}}'s Progression","data":[65,59,80,81,56,55,40,20,25,55,72,90], //Data in correlation with months 
            "fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},
            "options":{}});
    </script>


    <p><center>{{student}}'s Priorities</p></center>
    <canvas id="Stats" style="width:5%"></canvas>
    <script>
    	data = []
    	labels = []
    	{% for item in progress %}
    		labels.push("{{item}}")
    		data.push(Number("{{progress[item]}}"))
    	{% endfor %}
    	console.log("{{student}}")

   new Chart(document.getElementById("Stats"),{"type":"doughnut",
    "data":{"labels":labels, //Red: History, Blue: Math, Yellow: English
    "datasets":[{"label":"My First Dataset",
    "data":data, //30: History, 50: Math, 100: English
    "backgroundColor":["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205, 86)"]}]}});
    </script>
    <p> 1. Print out practice problems to test your students. <br>
        2. Record your data so it'll be displayed onto the above charts! </p>
    <br>
    <a href="{{url_for('static',filename='Problems.txt')}}" download="Problems.txt" target="_blank" class="button" >Practice Problems</a>
    <a href="{{url_for('static',filename='Answers.txt')}}" download="Answers.txt" target="_blank" class="button" >Answer Key</a>

    <a href="/students/{{student}}/course/{{course}}/practice"  class="button" >Record Quiz Answers</a>
 <!--
    <form action = "/Record Quiz Answers"> 
    </form>
-->
{% endblock %}